    /* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* # UTILS */
  
body{
    background-color: #F7F8FA;
}

li{
    margin: 20px 0;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
  }

  
  /* # header */  

.logo-image{
    height: 50px;
    vertical-align: middle;
}

.logo-title{
    display: inline;
    font-family: sans-serif;
    vertical-align: middle;
}

.upper-header{
    line-height: 70px;
    padding: 0 20px;
    background-color: white;
    width: 100%;
}




  /* # card header */  

.header{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    height: 50px;
    background-color: white;
    border: 2px ;
    padding: 0;
}

.card-header{

    line-height: 50px;
    padding: 0 50px;
    background-color: white;
    width: 100%;
}

  /* button */

.button{
    background-color: #48ACEF;
    color: white;
    border: 1px solid #48ACEF;
    border-radius: 5px;
    width: 80px;
    height: 25px;
}

#section{
    color: rgb(153, 151, 151);
    background-color: white;
    border: 1px solid rgb(153, 151, 151);
}

#editorial{
    border-radius: 15px;
    background-color: #48ACEF;
    border: 1px solid #48ACEF
}

#Q1{
    border-radius: 15px;
    background-color: #9674D9;
    border: 1px solid #9674D9
}

#recruiting{
    border-radius: 15px;
    background-color: #65BEA2;
    border: 1px solid #65BEA2
}

#mobile{
    border-radius: 15px;
    background-color: #F09E39;
    border: 1px solid #F09E39
}

#website{
    border-radius: 15px;
    background-color: #D9659C;
    border: 1px solid #D9659C
}

#sales{
    border-radius: 15px;
    background-color: #B2C92B;
    border: 1px solid #B2C92B
}

   /* # card todoo */  

   .todoo{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 5px;
    height: 700px;
    background-color: white;
    border: 2px ;
    padding: 0;
  }

  .tab{
    padding: 20px 50px;
    font-size: 20px;
    font-family: sans-serif;
  }

  .task{
    list-style: none;
  }

  .check{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 1px solid currentColor;
    background-color: transparent;
  }

 .green{
    color: green;
 }

 .red{
    color: red;
 }



